* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: "Kanit", sans-serif;
}

body {
	background-color: rgb(44, 44, 44);
	background-image: url("img/car-background.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

h2 {
	margin: 1rem;
}

img {
	width: 300px;
}

input {
	border-radius: 10px;
}

button {
	font-size: 1.8rem;
	border-radius: 10px;
	border: 5px solid yellow;
	background-color: black;
	color: white;
	transition: 0.2s;
}

button:hover {
	background-color: yellow;
	color: black;
}

.parent {
	background-color: rgba(0, 0, 0, 0.9);
	color: white;
	width: 60%;
	margin: auto;
	border-radius: 20px;
	display: flex;
	justify-content: space-between;
}

.container {
	height: 100%;
	text-align: center;
	width: 100%;
}

#users-container {
	height: auto;
	width: 300px;
	border: 3px solid white;
	border-radius: 20px;
	display: inline-block;
	align-self: center;
	text-align: center;
	overflow: hidden;
	font-size: 1.2rem;
}

#user-input {
	font-size: 2rem;
	width: 200px;
	margin-bottom: 10px;
}

.game-text {
	font-size: 1.5rem;
}

#healthbar {
	font-size: 1.5rem;
	margin-top: 5px;
}

#warning,
#hangman-text {
	margin: 5px;
}

#input-letter {
	font-size: 2rem;
	width: 100px;
}

#check-letter {
	margin-top: 20px;
}

#warning {
	color: rgb(207, 207, 66);
}

#hangman-carState {
	border-radius: 20px;
}

@media only screen and (max-width: 1000px) {
	.parent {
		display: flex;
		flex-direction: column;
	}
	#users-container {
		width: 40vw;
		border: 3px solid white;
		border-radius: 20px;
		display: block;
		overflow: hidden;
		font-size: 0.8rem;
	}
	#user-input {
		font-size: 2rem;
		width: 30vw;
		margin-bottom: 10px;
	}
}

@media only screen and (max-width: 600px) {
	.parent {
		width: 100vw;
		min-height: 100vh;
	}

	h2 {
		font-size: 0.8rem;
	}

	#user-input {
		font-size: 2rem;
		width: 30vw;
		margin-bottom: 10px;
	}

	#store-username {
		width: 30vw;
		word-wrap: normal;
		font-size: 0.8rem;
	}

	#hangman-carState {
		width: 30vw;
	}
}
